<!DOCTYPE html>
<html lang="zh-CN" id="j_singleview">
<head>
    <meta charset="utf-8">
    <title>播放控制</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--include head-->
    @@include('templates/widget_header.html')

</head>
<body>
<!--wrap-->
<div id="wrap">
    <section class="player-box">
        <div class="player-animation">
            <div v-bind:class="['player-center-box',isplay ? 'change-sm':'']"></div>
        </div>
        <div class="play-operate">
            <div class="play-infor">
                <h2 v-if="loading">读取故事机信息中.....</h2>
                <h2 v-cloak v-else>正在播放：{{title}}</h2>
                <p><span v-text="sec"></span></p>
            </div>
            <div class="play-control">
                <!-- 循环单曲 -->
                <a class="play-loop" href="javascript:;" v-if="!isloop" v-on:click.stop.prevent="repeatall()">
                    <i class="loop-one-icon"></i>
                </a>

                <!-- 循环全部 -->
                <a class="play-loop" href="javascript:;" v-if="isloop" v-on:click.stop.prevent="repeatone()">
                    <i class="loop-all-icon"></i>
                </a>

                <!-- 上一首 -->
                <a class="play-prev" href="javascript:;" v-on:click.stop.prevent="backward()">
                    <i class="prev-w-icon"></i>
                </a>

                <a class="play-lg-icon" href="javascript:;"
                v-if="!isplay" v-on:click.stop.prevent="resume()"></a>

                <!-- stop -->
                <a class="stop-lg-icon" href="javascript:;"
                v-if="isplay" v-on:click.stop.prevent="pause()"></a>




                <!-- 下一首 -->
                <a class="play-next" href="javascript:;" v-on:click.stop.prevent="forward()">
                    <i class="next-w-icon"></i>
                </a>

                <a class="play-favorites" href="javascript:;" v-on:click.stop.prevent="addfav()" v-show="!islike">
                    <i class="favorites-lg-w-icon"></i>
                </a>

                <a class="play-favorites active" href="javascript:;" v-on:click.stop.prevent="dellike()" v-show="islike">
                    <i class="favorites-lg-w-icon"></i>
                </a>

            </div>
        </div>

    </section>
</div>

<!--include footer-->
@@include('templates/widget_footer.html')
<script type='text/javascript' src='static/js/components/singleview.js'></script>

<!--include 统计-->
@@include('templates/widget-statistics.html')

</body>
</html>
