<!DOCTYPE html>
<html lang="zh-CN" id="j_listdetail">
<head>
    <meta charset="utf-8">
    <title>故事机-{{listdata.currentCategory.name}}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--include head-->
    <meta name="author" content="Roobo:F2E">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!--<link rel="icon" type="image/png" href="img/favicon/favicon.png">-->

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<!--<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">-->

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--<link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-57x57.png">-->

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="favicon.png">
<meta name="msapplication-TileColor" content="#ffffff">
<link rel="shortcut icon" type="image/png" href="favicon.png" />

<link rel="stylesheet" href="static/css/app.css">
<script src="static/js/components/pxtorem.js"></script>

</head>
<body>

<!--wrap-->
<div id="wrap">
    <section class="story-banner">
        <img src="http://dwn.roo.bo/appimg/{{listdata.currentCategory.imgLarge}}" alt="{{listdata.currentCategory.imgLarge}}">
        <div class="story-title">
            <h3>{{listdata.currentCategory.name}}</h3>
            <p>{{listdata.currentCategory.description}}</p>
        </div>
    </section>
    <section class="story-list">
        <div class="story-list-hd clearfix">
            <span class="rb-left">共{{listdata.resourcePage.totalRows}}首</span>
            <!--<button class="rb-right add-btn" type="button">添加全部</button>-->
        </div>
        <div class="story-list-bd single-list">
            <!--试听的audio-->
            <audio src="" id="try" style="display:none"></audio>

            <ul>
                <template v-for="item in listdata.resourcePage.result">
                    <li>
                        <div class="single-item" v-on:click.stop.prevent="toggleopen(item)">
                            <!-- play -->
                            <button class="demand-btn" type="button" v-show="!item.isplay" v-on:click.stop.prevent="demand(item)">
                                <i class="demand-icon"></i>
                            </button>
                            <!-- stop -->
                            <button class="demand-btn active" type="button" v-show="item.isplay" v-on:click.stop.prevent="pause(item)">
                                <i class="demand-icon"></i>
                            </button>

                            <div class="single-infor">
                                <p>{{item.name}}</p>
                                <span class="single-time">{{item.sec}}</span>
                            </div>
                            <a class="download-btn" href="javascript:;" v-on:click.stop.prevent="download(item)">
                                <i class="add-icon"></i>
                            </a>
                        </div>

                        <div class="operate-icon" transition="expand" v-show="item.isexpand">
                            <a class="active" href="javascript:;" v-on:click.stop.prevent="try(item.content)">
                                <i class="audition-icon"></i>
                                试听
                            </a>
                            <a  href="javascript:;" v-show="!item.islike" v-on:click.stop.prevent="addfav(item)">
                                <i class="like-icon"></i>
                                收藏
                            </a>
                            <a class="active" href="javascript:;" v-show="item.islike" v-on:click.stop.prevent="dellike(item)">
                                <i class="like-icon"></i>
                                收藏
                            </a>
                            <a href="single.html?id={{item.id}}">
                                <i class="detail-icon"></i>
                                详情
                            </a>
                        </div>
                    </li>
                </template>
            </ul>
            <div class="loading-more">
                <a href="javascript:;" v-on:click.stop.prevent="nextpage()" v-if="haspage">加载更多</a>
            </div>
        </div>
    </section>


</div>

<!--include footer-->
<script type='text/javascript' src='static/js/lib/vue.js' charset='utf-8'></script>
<script type='text/javascript' src='static/js/lib/1.11.3/jquery.js' charset='utf-8'></script>

<script src="static/js/lib/jquery-weui.min.js"></script>
<script src="static/js/components/swiper.jquery.js"></script>
<script src="static/js/components/fastclick.js"></script>
<script src="static/js/modules/getopenid.js"></script>

<script type='text/javascript' src='static/js/util/utils.js' charset='utf-8'></script>
<script type='text/javascript' src='static/js/config/juli_config.js' charset='utf-8'></script>
<script src="static/js/lib/mqttws31.js"></script>
<script src="static/js/lib/mqttclient.js"></script>
<script src="static/js/modules/wx.config.js"></script>
<script src="static/js/app.js"></script>

<script type='text/javascript' src='static/js/components/listdetail.js' charset='utf-8'></script>

</body>
</html>
