<!DOCTYPE html>
<html lang="zh-CN" id="j_index">
<head>
    <meta charset="utf-8">
    <title>儿童馆</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--include header base-->
    @@include('templates/widget-header-base.html')

</head>

<body>

<!--wrap-->
<div id="wrap">
    <!-- search -->
    <section class="search-bar">
        <div class="inner-search">
            <input v-model="input" @keyup.13="search" type="text" id='search' placeholder='搜索歌曲、故事'/>
            <button type="button" v-on:click.stop.prevent="search">
                <i class="search-icon"></i>
            </button>
        </div>
    </section>

    <!-- app icon -->
    <section class="swiper-container">
            <div class="swiper-slide" v-for="item in list">
                <a href="list.html?id={{item.id}}">
                    <div class="app-icon">
                        <img :src=imghost+item.imgSmall />
                    </div>
                    <span v-text="item.name"></span>
                </a>
            </div>
    </section>
</div>

<!--include footer-->
<!--@@include('templates/widget_footer.html')-->

<!--<script type='text/javascript' src='static/js/lib/vue.js' charset='utf-8'></script>-->
<!--<script src="static/js/lib/jquery-weui.min.js"></script>-->

<script src="//cdn.bootcss.com/vue/1.0.26/vue.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/0.8.0/js/jquery-weui.min.js"></script>
<script type='text/javascript' src='static/js/components/index.js' charset='utf-8'></script>

<!--include 统计-->
@@include('templates/widget-statistics.html')

</body>
</html>
