<!DOCTYPE html>
<html lang="zh-CN" id="J_my">
<head>
    <meta charset="utf-8">
    <title v-text="title"></title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--include head-->
    @@include('templates/widget_header.html')
    <script>
        setTimeout("getDeviceId(localStorage.openId)",200)
    </script>
</head>
<body id="uc">

<!--wrap-->
<div id="wrap">
    <section class="uc-hd">
        <a href="config.html">
            <dl>
                <dt><img src="static/img/juli-logo.png" alt="故事机"></dt>
                <dd>故事机</dd>
            </dl>
        </a>
    </section>
    <section class="uc-list">
        <ul>
            <li>
                <a class="link-icon clearfix" href="like.html">
                        <span class="rb-left">
                            <i class="favorites-icon"></i>
                            收藏
                        </span>
                    <b class="rb-right" v-text="fav.length" v-if="fav.length"></b>
                </a>
            </li>
            <li>
                <a class="link-icon clearfix" href="history.html">
                        <span class="rb-left">
                             <i class="history-icon"></i>
                            点播历史
                        </span>
                    <b class="rb-right" v-text="history.length" v-if="history.length"></b>
                </a>
            </li>
        </ul>
    </section>
    <section class="mode-list">

        <div class="mode-list-hd clearfix">
            <h3 class="rb-left">
                <i class="list-icon"></i>
                播放列表/
                <b v-text="playtracklist.length" v-if="loading==false"></b>个
            </h3>
            <!-- <button class="rb-right add-btn" type="button"
            v-on:click.stop.prevent="defaultall()">恢复默认列表</button> -->
        </div>

        <p v-if="loading" class="v-loading">加载中...</p>
        <section class="story-list">
            <div class="story-list-bd" v-if="loading==false" transition="show" v-cloak>
                <ul>
                    <li v-for="item in playtracklist">
                        <a class="link-icon mylist" v-on:click.stop.prevent="linklist(item)">
                            <span v-text="item.name">名字</span>
                            <b class="rb-right" v-text="item.trackCount">31</b>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</div>

<!--include footer-->
@@include('templates/widget_footer.html')
<script type='text/javascript' src='static/js/components/my.js' charset='utf-8'></script>

<!--include 统计-->
@@include('templates/widget-statistics.html')

</body>
</html>
