/**:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
}*/

body{
 margin:0px;
 padding:0px;
 padding-bottom: 80px;
}


div.fastscroll{
	min-height: 600px;
	
	/*position: absolute;
	z-index: 1;
	width: 100%;*/
	/*padding-bottom: 200px;*/
	/*-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;*/
	/*height:100%;
	overflow-y: scroll;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-overflow-scrolling: touch;
	*/
}

div.tracklist_header {
	padding-left:80px;
	padding-top:16px;
	min-height: 80px;
	border-bottom: 1px solid #ddd;
	background-repeat:no-repeat;
    background-position:5px 5px;
    background-size:64px 64px;
}

div.tracklist_header img {
	position: absolute;
	left:5px;
	top:5px;
	width:64px;
	height:64px;
}

div.tracklist_header span {
	font-size: 14px;
	font-weight: bold;
}

div.commandbar {
	display: block;
	padding: 5px;
	padding-left: 80px;
	border-bottom: 1px solid #ddd;
}

div.tracklist li{
	padding-top: 5px;
	padding-left: 80px;
}

div.tracklist li.noimage{
	padding-left: 40px;
}

div.tracklist li:first-child{
	border-top:0;
}

div.tracklist li .list-index{
	position: absolute;
    top: 10px;
    left: 10px;
    width:10px;
    height:100%;
    text-align:center;
}

div.tracklist li img{
	 position: absolute;
    top: 10px;
    left: 10px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
}

div.tracklist li span.title{
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 8px;
}

div.tracklist li span.description{
	font-size: 12px;
	font-weight: normal;
	color: #a7a7a7;
}

div.tracklist li span.description.notdownload{
	background-image: url(../img/pic_not_download.png);
	background-size: 14px 14px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 16px;
}

div.tracklist li span.description.download{
	background-image: url(../img/pic_download.png);
	background-size: 14px 14px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 16px;
}

div.tracklist li.editing{
	padding-right: 40px;
}

/*-----------------------------------以上是track的列表样式-------------------------------------------------*/

#toolbar {
	display:none;
	background-color: #7b7b7b;
	min-height: 60px;
}

#toolbar button{
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
	display:inline-block;
	background-repeat:no-repeat;
	background-position:center 5px;
	background-size:24px 24px;
	text-decoration:none;
	padding-top: 35px;
	text-align: center;
	color: #fff;
	font-size: 10px;
}

#toolbar button:active{
	background-color: #aaaaaa;
}

#toolbar button span{
	font-size: 10px;
	font-weight: normal;
	color: white;
}

#toolbar button.btnHtmlPlay {
	background-image:url(../img/toolbar_play.png);
}

#toolbar button.btnHtmlPlay.playing {
	background-image:url(../img/toolbar_pause.png);
}

#toolbar button.btnDemand {
    background-image:url(../img/toolbar_demand.png);
}

#toolbar button.btnDownload {
    background-image:url(../img/toolbar_download.png);
}

#toolbar button.btnFavorite {
    background-image:url(../img/toolbar_favorite.png);
}

#toolbar button.btnFavoriteRemove {
    background-image:url(../img/toolbar_remove.png);
}

#toolbar button.btnTrackCopy {
    background-image:url(../img/toolbar_copyto.png);
}

#toolbar button.btnTrackMove {
    background-image:url(../img/toolbar_moveto.png);
}

#toolbar button.btnTrackRemove {
    background-image:url(../img/toolbar_remove.png);
}

#toolbar button.btnDemandRemove {
    background-image:url(../img/toolbar_remove.png);
}
/*------------------------------------以上是toolbar的样式------------------------------------------------*/

#divAlert {
    width: 100%; height:100%;
    /*center*/
    position: fixed;/*absolute;*/
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    text-align: center;
    display:block;
    z-index: 99999;
    padding-top: 140px;
}

#divAlert span{
    background-color: #000;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	border-radius:5px;
}

/*------------------------------------以上是浮出提示信息样式------------------------------------------------*/

.footer{
	position:fixed;
bottom:0px;
left:0px;
right:0px;
width:100%;
background-color: #f0f0f0;
	min-height: 60px;
	padding:5px;
	
}

.footer a{
	display:inline-block;
	background-repeat:no-repeat;
	background-position:center top;
	background-size: 24px 24px;
	text-decoration:none;
	padding-top: 25px;
	text-align: center;
}

.footer a span{
	font-size: 12px;
	font-weight: normal;
	color: grey;
}

.footer a.current span{
	color:#5dc5ec;
}

.footer a.cloud{
	background-image:url(../img/foot_cloud.png);
}

.footer a.cloud:active{
	
}

.footer a.cloud.current{
	background-image:url(../img/foot_cloud_active.png);
}

.footer a.favorite{
	background-image:url(../img/foot_favorite.png);
}

.footer a.favorite:active{
	
}

.footer a.favorite.current{
	background-image:url(../img/foot_favorite_active.png);
}

.footer a.tracklist{
	background-image:url(../img/foot_tracklist.png);
}

.footer a.tracklist.current{
	background-image:url(../img/foot_tracklist_active.png);
}

/*------------------------------------以上是footer的样式------------------------------------------------*/

.offline{
	width: 100%; height:100%;
    /*center*/
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    text-align: center;
    display:block;
    z-index: 99999;
    padding-top: 140px;
}

.offline span{
	background-color: #000;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	border-radius:5px;
}



.audiohide{
    display:none;
}

/* mask layer when ajax sending... */
.mask-hy {
    height: 100%; width: 100%;
    background-color: rgba(255,255,255,.35);
    position: absolute; left: 0; top: 0;
    z-index: 999;
}
.loading-hy { /* more info: http://www.zhangxinxu.com/wordpress/?p=3357 */
    width: 3px; height:3px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px currentColor,           /* top, 1px expand */
                10px 0px currentColor,                /* right */
                0 10px currentColor,                  /* bottom */
                -10px 0 currentColor,                 /* left */

                -7px -7px 0 .5px currentColor,        /* left-top, 0.5px expand */
                7px -7px 0 1.5px currentColor,        /* right-top, 1.5px expand */
                7px 7px currentColor,                 /* right-bottom */
                -7px 7px currentColor;                /* left-bottom */
    -webkit-animation: spin 1s steps(8) infinite;
    animation: spin 1s steps(8) infinite;
    /*center*/
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

/** 去掉圆拐 */
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}    

.tracklist li input[name=selected]{
	display: none;
}

.tracklist li input[name=selected] + label.trackselectbox span{
	display:inline-block;
	width:28px;
    height:28px;
    background:url(../img/btn_unselect.png) center center no-repeat;
    background-size: 28px 28px;
    cursor:pointer;
    position:absolute;
	top:20px;
	right:10px;
}

.tracklist li input[name=selected]:checked + label.trackselectbox span{
	background:url(../img/btn_select.png) center center no-repeat;
	background-size: 28px 28px;
}

.notSupportWebSocket{
	border-radius:0;
	margin-bottom:0;
}

.modal{
	background-color: rgba(0,0,0,0.7);
}

.modal-header span{
		display:block;
		text-align: center;
	}
	.modal-footer{
		padding: 0;
		min-height: 40px;
		position:relative;
	}
	.modal-footer button{
		border-color: transparent;
		background-color: transparent;
		box-shadow: none;
		color:#5dc5ec;
		height:100%;
	}

.bootbox .modal-dialog.modal-sm{
	height: 80px;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
   	margin: auto;
   	width:80%;
}

.bootbox .modal-dialog .modal-footer{
	padding:0;
	position:relative;
	min-height: 40px;
}

.bootbox .modal-dialog .modal-footer button{
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
	color:#5dc5ec;
}

.modal-footer button.bootboxConfirm{
	border-left:1px solid #e5e5e5;
	width:50%;
	position:absolute;
	top:0;
	right:0;
}

.modal-footer button.bootboxCancel{
	width:50%;
	position:absolute;
	top:0;
	left:0;
}

.modal-footer button.bootboxOk{
	width:100%;
	display:block;
}

.bootboxMessage{
	display:block;
	text-align: center;
}