<script type='text/javascript' src='static/js/lib/vue.js' charset='utf-8'></script>
<script type='text/javascript' src='static/js/lib/1.11.3/jquery.js' charset='utf-8'></script>

<script src="static/js/lib/jquery-weui.min.js"></script>
<script src="static/js/components/swiper.jquery.js"></script>
<script src="static/js/components/fastclick.js"></script>
<script src="static/js/modules/getopenid.js"></script>

<script type='text/javascript' src='static/js/util/utils.js' charset='utf-8'></script>
<script type='text/javascript' src='static/js/config/juli_config.js' charset='utf-8'></script>
<script src="static/js/lib/mqttws31.js"></script>
<script src="static/js/lib/mqttclient.js"></script>
<script src="static/js/modules/wx.config.js"></script>
<script src="static/js/app.js"></script>
